*{
    margin: 0;
    padding: 0;
}
body{
  
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
}